<head>
    <style>

        body 
        { 
          font-family:arial; 
          font-size: 11pt; 
          text-align:center; 
        } 
        div.header 
        { 
          padding-top: 7px; 
          padding-bottom: 7px; 
          color:#003399; 
          background-color: #D0D0D0; 
          width=100%; 
          font-family:arial; 
          font-size:14pt; 
          font-weight: bold; 
          text-align: center; 
        } 
        table.drctable 
        { 
          border-color: #B0B0B0; 
          border-style:solid; 
          border-width:1px; 
          border-spacing:0px; 
          border-collapse:collapse; 
          width=75%; 
          font-family:couriernew; 
          font-size: 11pt; 
        }
        table.drctable th 
        { 
          background-color: #F0F0F0; 
          border-color: #B0B0B0; 
          border-width:1px; 
          color: darkslategray; 
          font-weight:bold; 
        } 
        table.drctable td 
        { 
          text-align:left; 
        }        

    </style>
</head>
<body>
    <p>
        <div class="header">DRC Report: FIC_3_PERIPHERALS</div>
    </p>
    <table class="drctable" align="left" border="1" width="75%" cellspacing="0" cellpadding="4">
        <tr>
            <th>Status</th>
            <th>Message</th>
            <th>Details</th>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/FIC_3_PERIPHERALS/pins/FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_02xx"> bus interface data width mismatch</a>
            </td>
            <td> There is a data width mismatch between FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_02xx:APBmslave0_PWDATAS[0-31] and CoreUARTapb_C1:APB_bif:PWDATA[0-7] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/FIC_3_PERIPHERALS/pins/FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_03xx"> bus interface data width mismatch</a>
            </td>
            <td> There is a data width mismatch between FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_03xx:APBmslave0_PWDATAS[0-31] and CoreUARTapb_C2:APB_bif:PWDATA[0-7] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/FIC_3_PERIPHERALS/pins/FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_04xx"> bus interface data width mismatch</a>
            </td>
            <td> There is a data width mismatch between FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_04xx:APBmslave0_PWDATAS[0-31] and RPi_ID_I2C:APBslave:APBslave_PWDATA[0-7] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/FIC_3_PERIPHERALS/pins/FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_05xx"> bus interface data width mismatch</a>
            </td>
            <td> There is a data width mismatch between FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_05xx:APBmslave0_PWDATAS[0-31] and CoreUARTapb_C3:APB_bif:PWDATA[0-7] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/FIC_3_PERIPHERALS/pins/FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_06xx"> bus interface data width mismatch</a>
            </td>
            <td> There is a data width mismatch between FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_06xx:APBmslave0_PWDATAS[0-31] and CoreUARTapb_C4:APB_bif:PWDATA[0-7] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/FIC_3_PERIPHERALS/pins/FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_07xx"> bus interface data width mismatch</a>
            </td>
            <td> There is a data width mismatch between FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_07xx:APBmslave0_PWDATAS[0-31] and CoreUARTapb_C5:APB_bif:PWDATA[0-7] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/FIC_3_PERIPHERALS/pins/FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_08xx"> bus interface data width mismatch</a>
            </td>
            <td> There is a data width mismatch between FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_08xx:APBmslave0_PWDATAS[0-31] and CoreUARTapb_C6:APB_bif:PWDATA[0-7] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/FIC_3_PERIPHERALS/pins/FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_09xx"> bus interface data width mismatch</a>
            </td>
            <td> There is a data width mismatch between FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_09xx:APBmslave0_PWDATAS[0-31] and CoreUARTapb_C7:APB_bif:PWDATA[0-7] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/FIC_3_PERIPHERALS/pins/FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_0axx"> bus interface data width mismatch</a>
            </td>
            <td> There is a data width mismatch between FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_0axx:APBmslave0_PWDATAS[0-31] and CoreUARTapb_C8:APB_bif:PWDATA[0-7] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/FIC_3_PERIPHERALS/pins/FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_0Bxx"> bus interface data width mismatch</a>
            </td>
            <td> There is a data width mismatch between FIC_3_ADDRESS_GENERATION_1:FIC_3_0x4000_0Bxx:APBmslave0_PWDATAS_0[0-31] and CoreUARTapb_C9:APB_bif:PWDATA[0-7] which may result in a loss of data.</td>
        </tr>
    </table>
</body>
